﻿@using Arcanox.AspNetCoreHelpers.Helpers

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"/>

	<title>
		@if ( ViewBag.Title is string title ) {
			@:Volt - @title
		} else {
			@:Volt
		}
	</title>

	@Html.RequirePageStyle( "main", immediate: true )
	@Html.EmitRequiredStyles()
</head>
<body>
	<partial name="_LogoutPartial"/>

	@RenderBody()

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	@Html.RequirePageScript( "manifest", immediate: true )
	@Html.RequirePageScript( "vendor", immediate: true )
	@Html.RequirePageScript( "index", immediate: true )
	@Html.EmitRequiredScripts()
</body>
</html>