﻿
@using VoltSite.Services
@inject SessionManager SessionManager

@{
	var session = await SessionManager.GetCurrentSessionAsync();
}

@if ( session != null ) {
	<form id="LogoutPartial" method="POST" asp-area="" asp-controller="Home" asp-action="Logout">
		<button class="btn btn-secondary" type="submit">Logout</button>
	</form>
}