﻿@using Arcanox.AspNetCoreHelpers.Helpers
@model LoginViewModel

@{
	ViewBag.Title = "Log In";
}

@Html.RequirePageScript( "login" )
@Html.RequirePageStyle( "login" )

<div class="login-wrapper">
	<form method="POST" class="login-form">
		<div asp-validation-summary="All"></div>
		<div class="form-group">
			<label asp-for="Username"></label>
			<input type="email" class="form-control" asp-for="Username"/>
		</div>
		<div class="form-group">
			<label asp-for="Password"></label>
			<input type="password" class="form-control" asp-for="Password"/>
		</div>

		<button class="btn btn-primary" type="submit">
			Log In
		</button>
	</form>
</div>