.app-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    display: inline-block;
    padding: 6px;
}

.stats-wrapper {
    .table-label {
        font-weight: bold;
        padding-right: 16px;
    }
}

.refresh-button {
    width: 100%;
    margin-top: 8px;
}