html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    min-height: 100vh;
    font-size: 18pt;
    background-color: #115e7a;
    color: white;
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

#LogoutPartial {
    display: inline-block;
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 1000;
}